@import url(https://unpkg.com/@picocss/pico@latest/css/pico.min.css);

table {
  margin-top: 25px !important;
  margin: auto;
  width: fit-content;
}
tr,
td {
  border: 1px solid #808080;
}
td {
  padding: 0;
  width: 20px;
  height: 20px;
}
.alive {
  background-color: #000000;
}
.dead {
  background-color: #eeeeee;
}
#turns {
  text-align: center;
  margin: 25px;
}